* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}
body {
  background-color: rgba(89, 0, 255, 0.15);
}

p {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
}
h2 {
  padding: 1rem;
  color: white;
  background-color: rgba(164, 72, 167, 0.772);
  display: flex;
  justify-content: center;
}
